body{
    font-family: 'Roboto', sans-serif;
}

input:focus:required:invalid{
    color: red;
    border-color: red;
    box-shadow: 0 0 6px red;
    }

input:focus:required:valid{
    border-color: green;
    box-shadow: 0 0 8px green;
}

select:focus:required:valid{
    border-color: green;
    box-shadow: 0 0 8px green;
}

#card-number:valid, #CVC-number:valid, #amount:valid, #first-name:valid, #last-name:valid
, #city:valid, #state:valid, #postal-code:valid{
    border-color: green;
}



